# ignore objects and archives, anywhere in the tree.
*.[oa]
*.w
*.[ow]lb
*.stb
*.map

# ignore poplog saved images
# seems to ignore */psv/ too which is annoying!
*.psv

# ignore backup files
*-
*~

# ignore RCS (old source control system) files
*,v
