# ignore objects and archives, anywhere in the tree.
*.[oa]
*.stb
*.map
# ignore poplog saved images
*.psv
# ignore backup files
*-
# ignore built binaries - these are all hardlinks to basepop11 anyway
pop/pop/{basepop11,clisp,doc,help,im,pop11,pml,prolog,ref,teach,ved}
