# most things in this directory will (eventually) be built by the configure script
*
# allow any sample config 
!*.sample
# allow stuff that're inputs to configure or autoconf
!*.in
!*.ac
# and allow this file
!.gitignore
