# TODO document these

POP_LINK_ARGS = -nox

# POP_SETARCH = 'setarch i386 -R'
POP_SETARCH = 

# uname -m 
POP_X86 = i686
# uname -o lower case, punctuation converted to _
POP_OS = gnu_linux
# uname -r
POP_LINUX_KERNEL = 2.6.32-305-ec2
POP_LINUX_KERNEL_VERSION = 2.6

# POP_GUI_TOOLKIT = motif
POP_GUI_TOOLKIT = 
